@import "../css/reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");
/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif; 
*/
/* * {
	border: 1px solid red;
} */

:root {
	--black: #171718;
	--black-border: #26292D;
	--aqua: #47c3cc;
	--white: #fff;

	--dark-bg: var(--black);
	--dark-border: var(--black-border);
	--header-text: var(--white);
	--accent: var(--aqua);

	/* Light mode */
	--page-bg: var(--white);
	--text-color: var(--black);
	--project-card-bg: var(--white);
	--project-card-text: var(--black);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
	--icon-bg-color: var(--white)
}

.dark {
	/* Dark mode */
	--page-bg: #252526;
	--text-color: var(--white);
	--project-card-bg: var(--black);
	--project-card-text: var(--white);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
	--icon-bg-color: var(var(--black))
}

html,
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

    font-family: "DM Sans", sans-serif;
	letter-spacing: -0.5px;

	/* Light mode */
	background-color: var(--page-bg);
	color: var(--text-color);
}

/* General */
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.none {
	display: none !important;
}

.section {
	padding: 70px 0;
}

.title-1 {
	margin-bottom: 60px;

	font-size: 60px;
	font-weight: 700;
	line-height: 1.333;
	color: var(--accent);
	text-align: center;
}

.title-2 {
	margin-bottom: 20px;

	font-size: 40px;
	line-height: 1.333;
	font-weight: 700;
}

/* Nav */
.nav {
    background: var(--dark-bg);
    color: var(--header-text);
    padding: 20px 0;
    border-bottom: 1px solid var(--black-border);
	letter-spacing: normal;
}
.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
	margin-right: auto;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: var(--header-text);
}

.logo strong {
    font-weight: 700;
}

.nav-right {
	display: flex;
    align-items: center;
    column-gap: 40px;
	font-size: 16px;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	flex-wrap: wrap;
	row-gap: 10px;
}

/* Dark mode */
.dark-mode-btn {
	order: 9;

	position: relative;
	display: flex;
	justify-content: space-between;

	width: 51px;
	height: 26px;
	padding: 5px;

	border-radius: 50px;
	background-color: #272727;
}

.dark-mode-btn::before{
	content: "";

	position: absolute;
	top: 1px;
	left: 1px;

	display: block;
	width: 24px;
	height: 24px;

	border-radius: 50%;
	background-color: var(--white);

	transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
	left: 26px;
}

.dark-mode-btn__icon {
	position: relative;
	z-index: 9;
}

.nav-left__link {
    color: var(--header-text);
	transition: opacity 0.2s ease-in;
}

.nav-left__link:hover {
	opacity: 0.8;
}

.nav-left__link--active {
	position: relative;
}

.nav-left__link--active::before {
	content: "";

	position: absolute;
	left: 0;
	top: 100%;

	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--accent);
}
/* Header */
.header {
	min-height: 695px;
	padding: 40px 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--dark-bg);

	color: var(--header-text);
	text-align: center;
}

.header__items {
	display: flex;
	justify-content: center;
	column-gap: 100px;
	align-items: center;
	flex-wrap: wrap;
}

.header__items img {
	width: 340px;
	height: 340px;

	border-radius: 50%;
}

.header__wrapper {
	padding: 0 15px;
	max-width: 660px;
}
.header__title {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.4;
}

.header__title strong {
	font-size: 60px;
	font-weight: 700;
}

.header__title em {
	font-style: normal;
	color: var(--accent);
}
.header__text {
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 1.333;
}

.header__text p + p{
	margin-top: 0.5em;
}

/* Button */
.btn {
	display: inline-block;
	height: 48px;
	padding: 12px 28px;

	border-radius: 5px;
	background-color: var(--accent);
	color: var(--white);
	letter-spacing: 0.15px;
	font-size: 16px;
	font-weight: 500;

	transition: opacity 0.2s ease-in;
}

.btn:hover,
.btn-outline:hover {
	opacity: 0.8;
}

.btn:active,
.btn-outline:active {
	position: relative;
	top: 1px;
}

.btn-outline{
	display: flex;
	column-gap: 10px;
	align-items: center;

	height: 48px;
	padding: 12px 20px;

	border-radius: 5px;
	border: 1px solid var(--black);
	background-color: var(--white);
	color: var(--black);

	transition: opacity 0.2s ease-in;
}

/* Projects */
.projects {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
}

.project {
	max-width: 370px;
	background-color: var(--project-card-bg);
	box-shadow: var(--box-shadow);
	border-radius: 10px;
}

.project:hover {
	transform: scale(1.02);
	box-shadow: 0 0px 20px rgba(0, 0, 0, 0.76);
	transition: 0.2s ease-in;
}

.project__img {
	border-radius: 10px;
}

.project__title {
	padding: 15px 20px 25px;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.333;
	color: var(--project-card-text)
}

.description__project {
	display: flex;
	align-items: center;
	column-gap: 20px;
	padding: 0px 20px 25px;
	color: var(--project-card-text)
}

.description__icon {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: var(--icon-bg-color);
}

.description__icon:hover {
	transform: scale(1.05);
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.76);
	/* box-shadow: 0 5px 35px rgba(0, 0, 0, 0.25); */
	transition: 0.2s ease-in;
}

/* Project Details*/
.project-details {
	margin: 0 auto;
	max-width: 865px;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.project-details__cover {
	max-width: 100%;
	margin-bottom: 40px;

	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}
.project-details__desc {
	margin-bottom: 30px;

	font-weight: 700;
	font-size: 24px;
	line-height: 1.333;
}

/* Content List */
.content-list {
	margin: 0 auto;
	max-width: 570px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
	text-align: center;
}

.content-list a {
	color: var(--accent);
}

.content-list__item {
	font-size: 18px;
	line-height: 1.5;
}

.content-list__item p + p {
	margin-top: 0.5em;
}


/* Footer */
.footer {
	margin-top: auto;
	padding: 60px 0px 50px;
	background-color: var(--dark-bg);
	color: var(--header-text);
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 27px;
}

.social {
	display: flex;
	column-gap: 30px;
	align-items: center;
}

.copyright {
	font-size: 16px;
}

.copyright a {
	color: var(--white);
}

.copyright p + p {
	margin-top: 0.5em;
}

@media (max-width: 676px) {

	.nav-row {
		justify-content: space-between;
	}

	.dark-mode-btn {
		order: 0;
	}

	.header {
		min-height: unset;
	}

	.header__items img {
		width: 60%;
		height: 60%;
	}
	.header__title {
		font-size: 30px;
	}

	.header__title strong {
		font-size: 40px;
	}

	.section {
		padding: 40px;
	}

	.title-1 {
		font-size: 40px;
		margin-bottom: 30px;
	}

	.title-2 {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.project {
		justify-content: center;
	}

	.project__title {
		font-size: 20px;
	}

	.project-details__desc {
		margin-bottom: 20px;
		font-size: 20px;
	}
	
	.footer {
		padding: 40px 0 30px;
	}

	.footer__wrapper {
		row-gap: 20px;
	}

	.social {
		column-gap: 20px;
	}

	.social__item {
		width: 28px;
	}

	.content-list {
		row-gap: 20px;
	}

	.content-list__item {
		font-size: 16px;
	}
}